body{
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#main{
    max-width: 100%;
    margin: 0.5rem 0.75rem 1.5rem 0.75rem;
    padding: 15px;
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
}

#title{
    max-width: 100%;
    margin: 27px 0 0 0;
    font-size: 45px;
}

.nombre_real{
    font-size: 23px;
    opacity: 0.4;
}

#img-div{
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #CED4DA;

}

#image{
    max-width: 100%;
}

#img-caption{
    max-width: 100%;
    margin: 15px 0 5px 0;
    font-size: 18px;
    display: block;
    font-style: italic;
}

#tribute-info{

}

h2{
    max-width: 100p%;
    margin: 50px 0 50px 0;
}

ul{
    max-width: 550px;
    margin: auto;
    line-height: 20px;
    align-items: center;
    text-align: justify;
    
}

.cite_p{
    margin: 20px 0 16px 0;
    opacity: 0.9;
}

cite{
    opacity: 0.9;
}
